
/* syle.css */

html,
body { /* add page background and font style/size/color */
    margin: 0; /* removes margin by default */
    background-color: antiquewhite;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
img { display: block; } /* images take up their own line now */



/* ===== style your elements ===== */

/* set display of body to flex */
/* play around with flex properties to create a cool page layout */

/* add background-color tastefully */
/* add a linear gradient as a background somewhere */

/* add text shadow somewhere */
/* add box shadow somewhere */

/* center text in paragraph */
/* set paragraph width to 0.62× the width of the page */
/* center your paragraph with margins */
/* give background-color and padding to your paragraph */

/* center your img with margins */
/* add border-radius to your image */

/* make "pumpkin.svg" inline with same height as your font */

/* classes and IDs */
.green{
    color: green;
}

.para{
    width: 62%;
    margin: auto;
}

#imageCenter{
    margin: auto;
    width: 20%;
    border: 2px red;
    border-radius: 25px ;
}

#center{
    text-align: center;
}

#inlineImage{
    display: inline;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}
