html,
body{
    margin: 0;
    background-color: antiquewhite;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --main-bg-color: antiquewhite;
    --text-color:black;
    --align-center: center;
}
ul{
    display: table;
    margin: 0 auto;
}

.center{
    text-align: var(--align-center,center);
}

.black{
    color: var(--text-color,black);
}