html,
body{
    margin: 0;
    background-color: antiquewhite;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --main-bg-color: antiquewhite;
    --text-color:black;
    --align-center: center;
}
ul{
    text-align: center;
    list-style: inside;
}

.center{
    text-align: var(--align-center,center);
}

.black{
    color: var(--text-color,black);
}

#backbutton{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    outline:none;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden; 
    width: fit-content;
    margin: auto;
    background: none;
    padding: 0;
}