
/* syle.css */

html,
body { /* add page background and font style/size/color */
    margin: 0;
    background-color: var(--main-bg-color);
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img { display: block; }


:root{
    --main-bg-color: antiquewhite;
    --text-color:black;
    --align-center: center;
    --margins:0.5cm;
}
.black{
    color: var(--text-color,black);
}

.para{
    width: 62%;
    margin: auto;
    margin-bottom: var(--margins);
    margin-top: var(--margins);
    color: var(--text-color);
}

#imageCenter{
    margin: auto;
    width: 20%;
    border-radius: 25px ;
}

#center{
    text-align: var(--align-center,center);
}

#inlineImage{
    display: inline;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}
